h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", sans-serif;
}

p,
li {
  font-family: "Open Sans", sans-serif;
}

.producto-container {
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  padding: 30px;
  transition: all 0.3s ease;
}

.producto-imagen {
  border-radius: 12px;
  max-height: 600px;
  max-width: 500px;
}

.list-group-item {
  background-color: #f9f9f9;
  border: none;
  border-bottom: 1px solid #e0e0e0;
}

.btn-primary {
  background-color: #4a90e2;
  border-color: #4a90e2;
}

.btn-primary:hover {
  background-color: #357abd;
}

.btn-outline-secondary:hover {
  background-color: #575757;
}
